$primary_color: #02fff5;

.svg-inline--fa.fa-w-16 {
  width: 18px;
  height: 18px;
}

.icons {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  animation-timing-function: ease-in-out;
  animation-name: icons;
  animation-duration: 3s;
  // animation-delay: 2.2s;

  svg {
    transition: 0.3s ease-in;
    color: #ccd6ff;
    padding: 7px 0;

    &:hover {
      transform: translateY(-3px);
      color: $primary_color;
    }
  }

  & a {
    margin-bottom: 20px;
  }
}

@keyframes icons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
