$primary_color: #02fff5;

.main {
  padding-left: 50px;
  animation: main 2s ease;

  h4 {
    color: $primary_color;
    text-transform: uppercase;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
  }

  h1 {
    color: #ccd6ff;
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 80px;
    margin-bottom: 0;
  }
  h2 {
    color: #ccd6ff;
    opacity: 0.4;
    text-transform: uppercase;
    margin-top: 2px;
    font-size: 80px;
    margin-bottom: 0;
  }

  h5 {
    color: #ccd6ff;
    opacity: 0.4;
    text-transform: capitalize;
    line-height: 2;
    font-weight: 400;
    letter-spacing: 2px;
  }

  a {
    color: $primary_color;
    border: 1px solid $primary_color;
    padding: 10px 35px;
    text-decoration: none;
    display: flex;
    transition: 0.5s ease;
    font-family: "Roboto Mono", monospace;

    &:hover {
      background: rgba(100, 255, 218, 0.07);
    }
  }
}

@keyframes main {
  0% {
    transform: translateX(-500vw);
  }
  50% {
    transform: translateX(10vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
